:root {
    --background-color: white;
    --text-color: black;
    --menu-background-color: #F0F0F0;
    --page-background-color: #F5F5F5;
}

@media (prefers-color-scheme: dark) { 
    :root {
        --background-color: black;
        --text-color: white;
        --menu-background-color: #202020;
        --page-background-color: #151515;
    }
}

body {
    background-color: var(--background-color);
    font-family: 'Iosevka Web', monospace, sans-serif;
    padding: 0pt;
    margin: 0pt;
    overflow-x: hidden;
    color: var(--text-color);
}

.NavigationBar {

    position: sticky;
    display: block;
    width: 100%;
    height: 50pt;
    top: 0pt;
    left: 0pt;
    right: 0pt;

    box-sizing: border-box;

    background-color: var(--menu-background-color);
    color: var(--text-color);
    font-size: 20pt;
    padding-top: 12.5pt;
    padding-left: 60pt;
    user-select: none;
}

.NavigationItem {
    text-decoration: none;
    color: #808080;
    font-size: 16pt;
}

.NavigationItem:hover {
    color: #BBBBBB;

}

.NavigationIcon {
    position: absolute;
    top: 5pt;
    left: 10pt;
    width: 40pt;
    height: 40pt;
    user-select: none;
}


.NavigationMenu {
    position: absolute;
    top: 0pt;
    right: 0pt;
    height: 40pt;
    padding-top: 12.5pt;
    padding-right: 20pt;
}

.MainContent {
    display: block;
    margin-top: 25pt;
    margin-left: 25pt;
    margin-right: 25pt;
    padding: 25pt;
    border-radius: 10pt;
    color: var(--text-color);
    background-color: var(--page-background-color);
    min-height: 100vh;

}

.Footer {
    display: block;
    margin-top: 25pt;
    color: var(--text-color);
    margin-left: 0pt;
    margin-right: 0pt;
    bottom: 0pt;
    margin-bottom: 0pt;
    padding: 30pt;
    background-color: var(--menu-background-color);
}

@media only screen and (min-width: 1200px) {
    .MainContent { 
        width: 750pt;
        margin-left: calc(50% - 375pt);
    }
  }